/* ---------- responsive ---------- */
@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 640px) {
    .header-top {
        display: none;
    }

    .mobile-toggle {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .main-nav nav {
        display: none;
    }

    .academics-hero h2 {
        font-size: 1.8rem;
    }

    .main-section-intro h1 {
        font-size: 1.8rem;
    }

    .main-section-intro .container {
        display: block;
    }

    .main-section-intro img {
        width: 100%;
    }

    .uneb-performance .container {
        display: block;
    }

    .uneb-performance h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    
}