/* ---------- responsive ---------- */
@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 640px) {
    .header-top {
        display: none;
    }

    .mobile-toggle {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .main-nav nav {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    
}