@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: rgb(6, 165, 6);
    --primary-dark: rgb(3, 122, 3);
    --secondary: rgb(236, 9, 9);
    --secondary-dark: rgb(202, 10, 10);
    --background-color: #f4f4f4;
    --accent: rgb(255, 230, 0);
    --accent-dark: rgb(3, 62, 150);
    --text-color: #333;
    --light: #f8f9fa;
    --dark: #343a40;
    --gray: #6c757d;
    --light-gray: #c4c4c4;
    --font-family: 'Roboto', sans-serif;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --text: rgb(97, 97, 97);
    --text-height: 26.6px;
    --radius: 8px;
    --transition: all 0.3s ease;
}

/* Hero Section */
.about-hero {
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../images/admin.JPG') no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.about-hero h2 {
    font-size: 3.8rem;
    margin-bottom: 10px;
    float: left;
}

.about-hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.9;
}


.school-director h1 {
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.school-director .container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.school-director img {
    width: 500px;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.head-teacher .container, .deputy-head-teacher .container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.head-teacher img, .deputy-head-teacher img {
    width: 500px;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}

.deputy-head-teacher {
    background-color: rgb(226, 226, 226);
    padding: 20px;
}

/* About Section */
.school-cards .cards {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    /* border: 1px solid var(--secondary); */
    border-radius: var(--radius);
    /* padding: 20px; */
}

.school-cards .card{
    flex: 1;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: var(--radius);
    margin-bottom: 30px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    border: 1px solid var(--light-gray);
    padding: 20px;
    text-align: center;
}

.school-cards h2 {
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.school-cards .card h2 {
    color: var(--secondary-dark);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Activities Cards Section */
.features {
    padding: 80px 0;
    position: relative;
    margin-top: 10 0px;
}

.activities-cards h2 {
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.activities-cards .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;
    color: var(--light);
    background-color: white;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--transition);
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
}

.activities-cards .card:nth-child(3) {
    background: url(../images/netball-team.jpg);
    background-size: cover;
    background-position: center;
}

.activities-cards .card:nth-child(2) {
    background: url(../images/MDD-3.JPG);
    background-size: cover;
    background-position: center;
}

.activities-cards .card:nth-child(1) {
    background: url(../images/patriotism.JPG);
    background-size: cover;
    background-position: center;
}










































/*  Hero Section bottom */
.about-hero-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('../images/prefects\(2\).jpg') no-repeat center center;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 500px;
    color: white;
    padding: 80px 0;
    text-align: center;

}

.about-hero-bottom h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}