/* Hero Section */
.contact-hero {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../images/face2.JPG') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.contact-hero h2 {
    font-size: 3.8rem;
    margin-bottom: 10px;
    float: left;
}